body{
    margin:0px;
}
#bg
{
    position:relative;
    background-image: url("bg.jpeg");
    background-size:100% 100%;
    max-width:2000px;
    height:700px;
    opacity:0.8;
}
h1{
    position:absolute;
    top:50px;
    left:40.5%;
    color:white;
}
h2{
    position:absolute;
    top:100px;
    left:44%;
    color:black;
}
#count
{
    position:absolute;
    top:100px;
    left:46.5%;
    font-size:50px;
}
#increment-btn
{
    position:absolute;
    top:220px;
    left:41%;
    border:none;
    border-radius:5px;
    padding:10px 55px;
    background-color: firebrick
}
#save-btn
{
    position:absolute;
    top:260px;
    left:41%;
    border:none;
    border-radius:5px;
    padding:10px 77px;
    background-color: darkmagenta;
}
#output
{
    position:absolute;
    top:280px;
    left:40%;
    font-size:20px;
    color:white;
    background-color: black;
    font-weight:bold;
}

.h21{
    position:absolute;
    top:310px;
    left:40%;
    color:black;
}
#count1
{
    position:absolute;
    top:312px;
    left:46.5%;
    font-size:50px;
}
#increment-btn1
{
    position:absolute;
    top:420px;
    left:41%;
    border:none;
    border-radius:5px;
    padding:10px 55px;
    background-color: firebrick
}
#save-btn1
{
    position:absolute;
    top:460px;
    left:41%;
    border:none;
    border-radius:5px;
    padding:10px 77px;
    background-color: darkmagenta;
}
#output1
{
    position:absolute;
    top:480px;
    left:40%;
    font-size:20px;
    color:white;
    background-color: black;
    font-weight:bold;
}
